<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>

<configuration>

 <!-- the most important properties -->
 <property><name>yarn.nodemanager.aux-services</name><value>mapreduce_shuffle</value></property>

<property><name>yarn.nodemanager.aux-services.spark_shuffle.class</name><value>org.apache.spark.network.yarn.YarnShuffleService</value></property>
 <property><name>yarn.nodemanager.aux-services.mapreduce_shuffle.class</name><value>org.apache.hadoop.mapred.ShuffleHandler</value></property>

<property><name>yarn.resourcemanager.scheduler.class</name><value>org.apache.hadoop.yarn.server.resourcemanager.scheduler.fair.FairScheduler</value></property>

 <property><name>yarn.application.classpath</name><value>$HADOOP_CONF_DIR,$HADOOP_COMMON_HOME/*,$HADOOP_COMMON_HOME/lib/*,$HADOOP_HDFS_HOME/*,$HADOOP_HDFS_HOME/lib/*,$HADOOP_MAPRED_HOME/*,$HADOOP_MAPRED_HOME/lib/*,$HADOOP_YARN_HOME/*,$HADOOP_YARN_HOME/lib/*</value></property>

 <!-- specify the directories -->
 <property><name>yarn.nodemanager.local-dirs</name><value>{{ yarn_nodemanager_local_dirs | join(',') }}</value></property>

 <property><name>yarn.nodemanager.log-dirs</name><value>{{ yarn_nodemanager_log_dirs | join(',') }}</value></property>

 <property><name>yarn.log-aggregation-enable</name><value>true</value></property>

 <property><name>yarn.nodemanager.remote-app-log-dir</name><value>{{ yarn_nodemanager_remote_app_log_dir }}</value></property>

 <!-- Fix the issue about exit code 143 with container -->
 <property><name>yarn.nodemanager.vmem-pmem-ratio</name><value>{{ yarn_nodemanager_vmem_pmem_ratio }}</value></property>

 <property><name>yarn.nodemanager.resource.memory-mb</name><value>{{ yarn_nodemanager_resource_memory_mb }}</value></property>
 <property><name>yarn.nodemanager.resource.cpu-vcores</name><value>{{ yarn_nodemanager_resource_cpu_vcores }}</value></property>

 <property><name>yarn.nodemanager.pmem-check-enabled</name><value>{{ yarn_nodemanager_pmem_check_enabled }}</value></property>
 <property><name>yarn.nodemanager.vmem-check-enabled</name><value>{{ yarn_nodemanager_vmem_check_enabled }}</value></property>

 <property><name>yarn.resourcemanager.scheduler.client.thread-count</name><value>64</value></property>
 <property><name>yarn.nodemanager.container-manager.thread-count</name><value>64</value></property>
 <property><name>yarn.resourcemanager.resource-tracker.client.thread-count</name><value>64</value></property>
 <property><name>yarn.resourcemanager.client.thread-count</name><value>64</value></property>

 <property><name>yarn.nodemanager.localizer.client.thread-count</name><value>20</value></property>
 <property><name>yarn.nodemanager.localizer.fetch.thread-count</name><value>20</value></property>

 <property><name>yarn.scheduler.minimum-allocation-mb</name><value>{{ yarn_scheduler_minimum_allocation_mb }}</value></property>
 <property><name>yarn.scheduler.maximum-allocation-mb</name><value>{{ yarn_scheduler_maximum_allocation_mb }}</value></property>

 <property><name>yarn.log-aggregation-enable</name><value>true</value></property>
 <property><name>yarn.label.enabled</name><value>true</value></property>

!-- enable resource  manager HA -->
 <property><name>yarn.resourcemanager.connect.retry-interval.ms</name><value>2000</value></property>
 <property><name>yarn.resourcemanager.ha.enabled</name><value>true</value></property>
 <property><name>yarn.resourcemanager.ha.automatic-failover.enabled</name><value>true</value></property>

 <property><name>yarn.resourcemanager.recovery.enabled</name><value>true</value></property>

 <property><name>yarn.resourcemanager.cluster-id</name><value>my-cluster</value></property>
 <property><name>yarn.resourcemanager.ha.rm-ids</name><value>{{ groups['cdh5-resourcemanager'] | join  () }},{{ groups['cdh5-resourcemanager-standby'] | join() }}</value></property>
 <property><name>yarn.resourcemanager.ha.id</name><value>{{ groups['cdh5-resourcemanager-standby' ] | join  () }}</value></property>

 <property><name>yarn.resourcemanager.store.class</name><value>org.apache.hadoop.yarn.server.resourcemanager.recovery.ZKRMStateStore</value></property>
 <!--
 <property><name>yarn.resourcemanager.hostname</name><value>{{ groups['cdh5-resourcemanager'] | join() }}</value></property>
 -->
  <!-- enable the proxyserver -->
 <property><name>yarn.web-proxy.address</name><value>{{ groups['cdh5-resourcemanager'] | join() }}:8100</value></property>

<property><name>yarn.log.server.url</name><value>http://{{ groups['cdh5-resourcemanager'] | join() }}:19888/jobhistory/logs/</value></property>

 <property><name>yarn.resourcemanager.hostname.{{ groups['cdh5-resourcemanager'] | join() }}</name><value>{{ groups['cdh5-resourcemanager'] | join() }}</value></property>
 <property><name>yarn.resourcemanager.hostname.{{ groups['cdh5-resourcemanager'] | join() }}</name><value>{{ groups['cdh5-resourcemanager-standby'] | join() }}</value></property>

 <property><name>yarn.resourcemanager.zk-address</name><value>{{ groups['cdh5-zookeeperserver'] | join(':2181' + ',') }}:2181</value></property>

 <property><name>yarn.resourcemanager.address.{{ groups['cdh5-resourcemanager'] | join() }}</name><value>{{ groups['cdh5-resourcemanager'] | join() }}:23140</value></property>

 <property><name>yarn.resourcemanager.scheduler.address.{{ groups['cdh5-resourcemanager'] | join() }}</name><value>{{ groups['cdh5-resourcemanager'] | join() }}:23130</value></property>

 <property><name>yarn.resourcemanager.webapp.https.address.{{ groups['cdh5-resourcemanager'] | join() }}</name><value>{{ groups['cdh5-resourcemanager'] | join() }}:23189</value></property>

 <property><name>yarn.resourcemanager.webapp.address.{{ groups['cdh5-resourcemanager'] | join() }}</name><value>{{ groups['cdh5-resourcemanager'] | join() }}:8088</value></property>
                        
 <property><name>yarn.resourcemanager.resource-tracker.address.{{ groups['cdh5-resourcemanager'] | join() }}</name><value>{{ groups['cdh5-resourcemanager'] | join() }}:23125</value></property>

 <property><name>yarn.resourcemanager.admin.address.{{ groups['cdh5-resourcemanager'] | join() }}</name><value>{{ groups['cdh5-resourcemanager'] | join() }}:23141</value></property>

 <property><name>yarn.resourcemanager.address.{{ groups['cdh5-resourcemanager-standby'] | join() }}</name><value>{{ groups['cdh5-resourcemanager-standby'] | join() }}:23140</value></property>

 <property><name>yarn.resourcemanager.scheduler.address.{{ groups['cdh5-resourcemanager-standby'] | join() }}</name><value>{{ groups['cdh5-resourcemanager-standby'] | join() }}:23130</value></property>

 <property><name>yarn.resourcemanager.webapp.https.address.{{ groups['cdh5-resourcemanager-standby'] | join() }}</name><value>{{ groups['cdh5-resourcemanager-standby'] | join() }}:23189</value></property>

 <property><name>yarn.resourcemanager.webapp.address.{{ groups['cdh5-resourcemanager-standby'] | join() }}</name><value>{{ groups['cdh5-resourcemanager-standby'] | join() }}:8088</value></property>

 <property><name>yarn.resourcemanager.resource-tracker.address.{{ groups['cdh5-resourcemanager-standby'] | join() }}</name><value>{{ groups['cdh5-resourcemanager-standby'] | join() }}:23125</value></property>

 <property><name>yarn.resourcemanager.admin.address.{{ groups['cdh5-resourcemanager-standby'] | join() }}</name><value>{{ groups['cdh5-resourcemanager-standby'] | join() }}:23141</value></property>

 <property><name>yarn.nodemanager.localizer.address</name><value>0.0.0.0:23344</value></property>
 <property><name>yarn.nodemanager.webapp.address</name><value>0.0.0.0:23999</value></property>
 <property><name>mapreduce.shuffle.port</name><value>23080</value></property>
 <property><name>yarn.resourcemanager.work-preserving-recovery.enabled</name><value>true</value></property>

</configuration>
