<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
<configuration>
    <property>
        <name>yarn.scheduler.capacity.maximum-applications</name>
        <value>10000</value>
        <description>
      Maximum number of applications that can be pending and running.
    </description>
    </property>
    <property>
        <name>yarn.scheduler.capacity.maximum-am-resource-percent</name>
        <value>0.1</value>
        <description>
      Maximum percent of resources in the cluster which can be used to run
      application masters i.e. controls number of concurrent running
      applications.
    </description>
    </property>
    <property>
        <name>yarn.scheduler.capacity.resource-calculator</name>
        <value>org.apache.hadoop.yarn.util.resource.DefaultResourceCalculator</value>
        <description>
      The ResourceCalculator implementation to be used to compare
      Resources in the scheduler.
      The default i.e. DefaultResourceCalculator only uses Memory while
      DominantResourceCalculator uses dominant-resource to compare
      multi-dimensional resources such as Memory, CPU etc.
    </description>
    </property>
    <property>
        <name>yarn.scheduler.capacity.node-locality-delay</name>
        <value>30</value>
        <description>
      Number of missed scheduling opportunities after which the CapacityScheduler
      attempts to schedule rack-local containers.
      Typically this should be set to number of nodes in the cluster, By default is setting
      approximately number of nodes in one rack which is 40.
    </description>
    </property>

<property><name>yarn.scheduler.capacity.root.queues</name><value>default,experiment,fasttrack,offline</value></property>
<property><name>yarn.scheduler.capacity.root.default.maximum-capacity</name><value>10</value></property>
<property><name>yarn.scheduler.capacity.root.default.capacity</name><value>10</value></property>
<property><name>yarn.scheduler.capacity.root.default.user-limit-factor</name><value>2</value></property>
<property><name>yarn.scheduler.capacity.root.default.state</name><value>running</value></property>
<property><name>yarn.scheduler.capacity.root.default.acl_submit_applications</name><value>*</value></property>
<property><name>yarn.scheduler.capacity.root.default.acl_administer_queue</name><value>*</value></property>	
<property><name>yarn.scheduler.capacity.root.experiment.capacity</name><value>10</value></property>
<property><name>yarn.scheduler.capacity.root.experiment.maximum-capacity</name><value>10</value></property>
<property><name>yarn.scheduler.capacity.root.experiment.user-limit-factor</name><value>2</value></property>
<property><name>yarn.scheduler.capacity.root.experiment.acl_submit_applications</name><value>news_exp,ads_exp</value></property>
<property><name>yarn.scheduler.capacity.root.experiment.acl_administer_queue</name><value>news_exp,ads_exp</value></property>
<property><name>yarn.scheduler.capacity.root.experiment.maximum-am-resource-percent</name><value>0.003</value></property>
<property><name>yarn.scheduler.capacity.root.experiment.state</name><value>running</value></property>
<property><name>yarn.scheduler.capacity.root.fasttrack.capacity</name><value>40</value></property>
<property><name>yarn.scheduler.capacity.root.fasttrack.maximum-capacity</name><value>-1</value></property>
<property><name>yarn.scheduler.capacity.root.fasttrack.user-limit-factor</name><value>3</value></property>
<property><name>yarn.scheduler.capacity.root.fasttrack.acl_submit_applications</name><value>news_nrt,news_db,ads_nrt,ads_db</value></property>
<property><name>yarn.scheduler.capacity.root.fasttrack.acl_administer_queue</name><value>news_nrt,news_db,ads_nrt,ads_db</value></property>
<property><name>yarn.scheduler.capacity.root.fasttrack.maximum-am-resource-percent</name><value>0.003</value></property>
<property><name>yarn.scheduler.capacity.root.fasttrack.state</name><value>running</value></property>
<property><name>yarn.scheduler.capacity.root.offline.capacity</name><value>40</value></property>
<property><name>yarn.scheduler.capacity.root.offline.maximum-capacity</name><value>-1</value></property>
<property><name>yarn.scheduler.capacity.root.offline.user-limit-factor</name><value>3</value></property>
<property><name>yarn.scheduler.capacity.root.offline.acl_submit_applications</name><value>news_up,news_cp,news_model,ads_up,ads_model</value></property>
<property><name>yarn.scheduler.capacity.root.offline.acl_administer_queue</name><value>news_up,news_cp,news_model,ads_up,ads_model</value></property>
<property><name>yarn.scheduler.capacity.root.offline.state</name><value>running</value></property>	

</configuration>
