#!/bin/bash

export JAVA_LIBRARY_PATH=/usr/lib/hadoop/lib/native/Linux-amd64-64
export YARN_PROXYSERVER_HEAPSIZE="2703"
export HADOOP_DATANODE_HEAPSIZE="1064"
export YARN_NODEMANAGER_HEAPSIZE="2048"
export HADOOP_OPTS="$HADOOP_OPTS -server"
export HADOOP_NAMENODE_HEAPSIZE="7168"
export HADOOP_JOB_HISTORYSERVER_HEAPSIZE="2703"
export HADOOP_CLIENT_OPTS="$HADOOP_CLIENT_OPTS -XX:MaxPermSize=128m"
export YARN_RESOURCEMANAGER_HEAPSIZE="2703"
